
<h5 class="center">Dados Pessoais</h5>
    <div class="row">
        <form id="enviarDados" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="nome" name="nome" type="text" class="validate">
              <label for="first_name">Nome</label>
            </div>
           </div>
          
          <div class="row">
            <div class="input-field col s6">
              <input id="dataNasc" name="dataNasc" type="date" class="datepicker date">
            </div>
         
            <div class="input-field col s6">
              <input id="cep" name="cep" type="text" class="validate" onblur="pesquisacep(this.value);">
              <label for="cep">CEP</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="endereco" name="endereco" type="text" class="validate">
              <label for="endereco">Endereço</label>
            </div>
          </div>
        
          <div class="row">
            <div class="input-field col s6">
              <input id="numero" name="numero" type="text" class="validate">
              <label for="numero">Numero</label>
            </div>
          
            <div class="input-field col s6">
              <input id="complemento" name="complemento" type="text" class="validate">
              <label for="complemento">Complemento</label>
            </div>
          </div>
         
          <div class="row">
            <div class="input-field col s12">
              <input id="celular" name="celular" type="tel" class="validate telefoneCelular">
              <label for="celualar">Celular</label>
            </div>
          </div>

          <div class="row">
              <div class="input-field col s6">
                  <button  value="Limpar" class="waves-effect pink btn">Limpar</button>
                </div>
            <div class="input-field col s6">
              <input onclick="login()" id="voltar" type="submit" value="Cadastrar" class="waves-effect waves-light btn">
            </div>
          </div>
        </form>
      </div>
     
      <script>
      
      $(document).ready(function(){
      $('.datepicker').datepicker();
      });

      $('#enviarDados').ajaxForm({
        url:'/enviar/cadastro',
        type:'post',
        success: function(data){
          
          console.log(data);
          
        }
        
        }).submit();
        
       function login(){
        $.ajax({
                    url: '/login',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
       }
      
       </script>
