<div class="row">
  <div class="container">
    <div class="col s12 xl12">
      <div class="card darken-1">
        <div class="card-content" style="width: ">
          <span class="card-title">Cartão de Vacinação</span>
          <table class="highlight" id="cartao">
              <thead>
                <th>Vacinas</th>
                <th>1º</th>
                <th>2º</th>
               
              </thead>
                <tbody>
                    <tr class="postos">
                            <th>BCG:</th>
                            <td>03/01/2020</td>
                            <td>----</td>
                            
                          </tr>
                          <tr class="postos">
                            <th>Hepatite B:</th>
                            <td>03/01/2020</td>
                            <td>----</td>
                            
                          </tr>
                          <tr class="postos">
                            <th>Penta:</th>
                            <td>03/03/2020</td>
                            <td>03/05/2020</td>
                          
                          </tr>
                          <tr class="postos">
                              <th>VIP 	</th>
                              <td>03/03/2020</td>
                              <td>03/05/2020</td>
                              
                          </tr>
                          <tr class="postos">
                              <th>VOP 	</th>
                              <td>03/04/2021</td>
                              <td>03/04/2021</td>
                             
                          </tr>
                          <tr class="postos">
                            <th>Pneumocócica 10V </th>	
                            <td>03/03/2020</td>
                            <td>03/05/2020</td>
                           
                          </tr>  
                              
                          <tr class="postos">
                            <th>Rotavírus Humano 	</th>
                            <td>03/03/2020</td>
                            <td>03/05/2020</td>
                           
                          </tr>
                              
                          <tr class="postos">
                            <th>Meningocócica C 	</th>
                            <td>03/04/2020</td>
                            <td>03/06/2020</td>
                          
                          </tr>
                              
                          <tr class="postos">
                            <th>Febre Amarela 	</th>
                            <td>03/10/2020</td>
                            <td>----</td>
                           
                          </tr>
                              
                          <tr class="postos">
                            <th>Hepatite A 	</th>
                            <td>03/04/2021</td>
                            <td>----</td>
                            
                          </tr>
                              
                          <tr class="postos">
                            <th>Tríplice Viral 	</th>
                            <td>03/01/2021</td>
                            <td>----</td>
                           
                          </tr>
                          
                          <tr class="postos">
                              <th>DTP	</th>
                              <td>03/04/2021</td>
                              <td>03/01/2024</td>
                            
                            </tr>
                          
                          <tr class="postos">
                            <th>Tetra Viral 	</th>
                            <td>03/04/2021</td>
                            <td>----</td>
                          
                          </tr>
                              
                          <tr class="postos">
                            <th>HPV 	</th>
                            <td>00/00/0000</td>
                            <td>----</td>
                           
                          </tr>
                              
                          <tr class="postos">
                            <th>Dupla Adulto</th>
                            <td>00/00/0000</td>
                            <td>----</td>
                         
                          </tr>
                                 
                          <tr class="postos">
                            <th>dTpa* </th>
                            <td>00/00/0000</td>
                            <td>----</td>
                           
                          </tr>
                            
                </tbody>
              </table>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn toolbar">

    <a class="fbtn-large">
        <i class="mdi">
            <img class="imgFbtn" src="./assets/img/logobtn.png">
        </i>
    </a>

    <ul class="teal darken-3">
       <li id="vacinas" ><a ><i class="mdi mdi-book"></i>Perfil</a></li>
       <li id="postos"><a ><i class="mdi mdi-hospital"></i>postos</a></li>
       
    </ul>

</div>

  </div>
  </div>

  

  <script>
      $('#postos').click(function(){
                $.ajax({
                    url: '/postos',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });
     
     
            $('#vacinas').click(function(){
                $.ajax({
                    url: '/vacinas',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });
  </script>



        