<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="theme-color" content="#184c25de">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vacinei</title>
        <link rel="manifest" href="../../manifest.json">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/custom.css">
        <link rel="stylesheet" href="./css/materialize.css">
        <link rel="stylesheet" href="./css/materialdesignicons.css" media="all"/>
        <link rel="shortcut icon" href="./assets/img/favicons.ico" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
     <!-- CHAMADA SERVICE WORKER-->
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('../../sw.js')
                    .then(function() {
                        console.log('Service Worker Registrado');
                    })
                    .catch(function() {
                        console.warn('Service Worker Falhou');
                    });
            }
        </script>

<!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "31dddf2f-e4f4-4aca-a2f4-0c50179efae2",
    });
  });
</script> -->

    </head>

    <body>

        <header>

            <!-- MENU LATERAL-->

            <div class="navbar-fixed">
                <nav class="gradient-45deg-indigo-blue">
                    <div class="nav-wrapper">

               
                
                <a class="brand-logo titleapp center">Vacinei
                    <br><br>
                    <h6 class="center"></h6>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi mdi-menu"></i></a>
                
                <ul class="right hide-on-med-and-down">
                        
                    <li><a>Vacinação</a></li>
                    <li><a href="#">Gestantes</a></li>
                    <li><a href="#">Crianças</a></li>
                    <li><a href="#">Sobre</a></li>
                    
                </ul>
                    </div>
                </nav>
            </div>

            <ul class="side-nav" id="mobile-demo">

                <li>
                    <div class="user-view">
<<<<<<< HEAD
                        
                        <a href="#!user"><img class="circle" src="./assets/img/logovac.png"></a>
                        <a href="#!name"><span class="white-text name"><strong>Paciente</strong></span></a>
                        <a href="#!email"><span class="white-text email">paciente@gmail.com</span></a>
=======
                        <div class="background"><img src="./assets/img/bg-app.png" width="100%"></div>
                        <a href="#!user" style="background: #fff; border-radius: 100px"><img class="circle" src="./assets/img/bebe.png"></a>
                        <a href="#!name"><span class="white-text name"><strong>Luna</strong></span></a>
                        <a href="#!email"><span class="white-text email">luna@gmail.com</span></a>
>>>>>>> 35e15995d6f9fc24069f611d53b8542ab0768854
                        <li><div class="divider"></div></li>
                    </div>
                </li>
                
<<<<<<< HEAD
                <li><a href="#">Vacinei</a></li>
                <li><a href="">Postos</a></li>
                <li><a href="">Informaçoes</a></li>
                <li><a href="">Forum</a></li>
=======
                <li><a>Vacinação</a></li>
                    <li><a href="#">Gestantes</a></li>
                    <li><a href="#">Crianças</a></li>
                    <li><a href="#">Sobre</a></li>
>>>>>>> 35e15995d6f9fc24069f611d53b8542ab0768854

                

            </ul>
        
        </header>

        <!-- PROCESSAR IMAGEM -->
<<<<<<< HEAD
    
        <div id="loaderApp" class="progress center">
            <div class="indeterminate"></div>
        </div>

           

        <div class="center" id="contentPage">
            <div id="login">
                <form class="col s12">
                   
                        <div class="row">
                          <div class="input-field col s12">
                            <input  id="first_name" type="text" class="validate">
                            <label for="first_name">CPF:</label>
                          </div>
                          <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Senha:</label>
                          </div>
                          
                        </div>
                        <div class="row">
                        <div class="col s6">
                                <div id="cadastro" class="btn-cadastro">Fazer meu cadastro</div>
                        </div>
                        <div class="col s6">
                                <button class="waves-effect waves-light btn" id="entrar">Entrar</button>
                        </div>
                    </div>
                        
                      </form> 
                    </div>
        </div>

        <div class="row center">
                <i class="mdi nuvem pulse mdi-cloud-sync" style="position: absolute; margin: -100px -18px; z-index: 11; color: chartreuse; font-size: 30px; display: none;"></i>
                <i class="mdi local pulse mdi-cellphone-android" style="position: absolute; margin: -100px -18px; z-index: 11; color: #00ffc6e0; font-size: 30px; display: none;"></i>
                <div id="loaderPage" class="preloader-wrapper big">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- MONITOR-->
        

        <div class="row"></div>

        <!-- Botão Flutuante -->
        <div class="fixed-action-btn toolbar none">

            <a class="fbtn-large">
                <i class="mdi">
                    <img class="imgFbtn" src="./assets/img/logobtn.png">
                </i>
            </a>

            <ul class="teal darken-3">
               <li id="vacinas" ><a ><i class="mdi mdi-book"></i>Perfil</a></li>
               <li id="cartao"><a ><i class="mdi mdi-calendar-text"></i>cartão</a></li>
               <li id="postos"><a ><i class="mdi mdi-hospital"></i>postos</a></li>
               <li id="home"><a href="/" ><i class="mdi mdi-home-circle"></i>Home</a></li>
            </ul>

=======
        
        <div class="center" id="contentPage">
                <button class="btn waves-effect waves-light white" id="entrarLogin" style="width: 100%;display: block;height: 100vh; color: green;font-size: 1.8em;font-weight: bold">Acessar
                       
                      </button>
>>>>>>> 35e15995d6f9fc24069f611d53b8542ab0768854
        </div>


        
        
        <script src="./js/jquery-3.2.1.min.js" integrity=" ">
        </script>
        <script src="./js/jquery-form.js" async></script>
        <script src="./js/materialize.min.js"></script>
        
        
        
        
        
        <!-- <script src="./js/chart.js"></script> -->
        <!-- <script src="./js/chart/chart.js"></script>
        <script src="./js/chart/pizza.js"></script> -->
        
        
        <!-- Scripts de Ações Materialize -->

        <script>
             
            $('#entrar').click(
                $('.fixed-action-btn').css("display", "block"),
                
            );
            $(".button-collapse").sideNav();
            $('#tabs-swipe-demo').tabs({ 'swipeable': true });
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
            });
                  
            

            $('#cartao').click(function(){
                $.ajax({
                    url: '/cartao',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });


             $('#postos').click(function(){
                $.ajax({
                    url: '/postos',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });

            

             $('#home').click(function(){
                $.ajax({
                    url: '/',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });

            
            // $('#logado').click(function(){
            //     $.ajax({
            //         url: '/vacinas',
            //         method: 'get',
            //         success: function(data){
            //             $('#contentPage').html(data);
            //         }
            //     });
            // });

            
        
            $('#entrarLogin').click(function(){
                $.ajax({
                    url: '/login',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                     
                        console.log(data);
                    }
                });
                $('.imgFbtn').click();
            });
        
        </script>

    </body>

</html>