<div class="row">
  <div class="container">
    <div class="col s12 xl6 offset-xl3 m6 offset-m3 login">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Login <i class="mdi mdi-account-circle"></i></span>
          


              <form class="col s12">
                 
                      <div class="row">
                        <div class="input-field col s12">
                          <input  id="documento" type="text" class="validate">
                          <label for="documento">CPF/RG/CN:</label>
                        </div>
                        <div class="input-field col s12">
                          <input id="password" type="password" class="validate">
                          <label for="password">Senha:</label>
                        </div>
                        
                      </div>
                      <div class="row">
                      <div class="col s6">
                              <div id="cadastro" class="btn-cadastro">Fazer meu cadastro</div>
                      </div>
                      <div class="col s6">
                              <div id="vacinas" class="waves-effect waves-light btn vacinas">Entrar</div>
                      </div>
                  </div>
                      
                    </form> 
                  </div>



      
      </div>
    </div>
  </div>
</div>
        





            <script>
            $('#cadastro').click(function(){
                $.ajax({
                    url: '/cadastro',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                     
                        console.log(data);
                    }
                });
                $('.imgFbtn').click();
            });

            $('#vacinas').click(function(){
                $.ajax({
                    url: '/vacinas',
                    method: 'get',
                    success: function(data){
                        $('#contentPage').html(data);
                    }
                });
                $('.imgFbtn').click();
            });
            </script>