
    <div class="col s12 m7">
      <% var resultado = rna%>
      <% console.log(resultado.length); %>
        <% for (i = 0; i < resultado.length; i++) { %>       
          <div class="row s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="./assets/img/postovacina.jpg">
                </div>
                <hr>
                <div class="card-stacked">
                  <div class="card-contentPosto">

                      <table class="highlight" id="cartao">
                        
                            <tbody>
                                      <tr>
                                        <th> Nome:</th>
                                        <td><%=resultado[i].unidade %></td>
                                      </tr>
                                      <tr>
                                        <th> Endereço</th>
                                        <td><%=resultado[i].endereco %></td>
                                      </tr>
                                      <tr>
                                        <th>Bairro: </th>
                                        <td><%=resultado[i].bairro %></td>
                                      </tr>
                                      <tr>
                                        <th>Fone: </th>
                                        <td><%=resultado[i].fone %></td>
                                      </tr>
                                      <tr>
                                          <th>Especialidades:  </th>
                                          <td><%=resultado[i].especialidades %></td>
                                        </tr>
                                        <tr>
                  
                                            <th>Estoque:  </th>
                                          
                                              <td><i class="mdi mdi-needle color-green"></i><i class="mdi mdi-needle color-green"></i></td> 
                                       
                                          </tr>
                            </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
        <% } %> 
    </div>


    <div class="fixed-action-btn toolbar">

    <a class="fbtn-large">
        <i class="mdi">
            <img class="imgFbtn" src="./assets/img/logobtn.png">
        </i>
    </a>

    <ul class="teal darken-3">
       <li id="vacinas" ><a ><i class="mdi mdi-book"></i>Perfil</a></li>
       <li id="cartao2"><a><i class="mdi mdi-calendar-text"></i>cartão</a></li>
       
    </ul>

</div>

    <script>

        $('#cartao2').click(function(){
            $.ajax({
                url: '/cartao',
                method: 'get',
                success: function(data){
                    $('#contentPage').html(data);
                }
            });
            $('.imgFbtn').click();
        });


         $('#vacinas').click(function(){
            $.ajax({
                url: '/vacinas',
                method: 'get',
                success: function(data){
                    $('#contentPage').html(data);
                }
            });
            $('.imgFbtn').click();
        });

        

</script>