
<div class="row">
  <div class="container">
    <div class="col s12 xl6 offset-xl3 m12 offset-m3">
      <div class="card">
        <div class="card-content ">
          <span class="card-title">Dados Pessoais</span>
          <table class="centered">
            <tbody>
              <tr>
                <th>Nome</th>
                <td>Luna Verissimo Escobar</td>
              </tr>
              <tr>
                <th>Idade</th>
                <td>Rn</td>
              </tr>
              <tr>
                <th>Pai</th>
                <td>Alamy Verissimo Pereira Neto</td>
              </tr>
              <tr>
                  <th>Mãe</th>
                  <td>Maria Gabriela Escobar de Oliveira</td>
                </tr>
              <tr>
                <th>Ultima Vacina</th>
                <td>BCG</td>
              </tr>
              
            </table>
          </div>
        </div>
      </div>
      <div class="col s12 xl12 m12">
        <div class="card horizontal">
          <div class="card-content">
            <span class="card-title">Imunização</span>
            <div class="col s6 m6 xl6">
              <h5 class="center-align">Atual</h5>
              <div class="vaccine-bar">
                <progress max="100" value="30" class="css3">
                  <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                  <div class="progress-bar">
                    <span style="width: 60%">60%</span>
                  </div>
                </progress>
              </div>
            </div>
            <div class="col s6 m6 xl6">
              <h5 class="center-align">Desejavel</h5>
              <div class="vaccine-bar">
                <progress max="100" value="90" class="css3">
                  <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                  <div class="progress-bar">
                    <span style="width: 60%">60%</span>
                  </div>
                </progress>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Botão Flutuante -->
  <!-- Botão Flutuante -->
  <div class="fixed-action-btn toolbar">
    <a class="fbtn-large">
      <i class="mdi">
        <img class="imgFbtn" src="./assets/img/logobtn.png">
      </i>
    </a>
    <ul class="teal darken-3">
      <li id="vacinas" ><a ><i class="mdi mdi-book"></i>Perfil</a></li>
      <li id="cartao"><a ><i class="mdi mdi-calendar-text"></i>cartão</a></li>
      <li id="postos"><a ><i class="mdi mdi-hospital"></i>postos</a></li>
    
    </ul>
  </div>
  
  <script>
    
    $('#cartao').click(function(){
      $.ajax({
        url: '/cartao',
        method: 'get',
        success: function(data){
          $('#contentPage').html(data);
        }
      });
      $('.imgFbtn').click();
    });
    
    
    $('#postos').click(function(){
      $.ajax({
        url: '/postos',
        method: 'get',
        success: function(data){
          $('#contentPage').html(data);
        }
      });
      $('.imgFbtn').click();
    });
    
 
    
    
    $('#postos').click(function(){
      $.ajax({
        url: '/postos',
        method: 'get',
        success: function(data){
          $('#contentPage').html(data);
        }
      });
      $('.imgFbtn').click();
    });
    
  </script>
  
  
  
  