<<<<<<< HEAD

        #login {
            border:1px solid #cecece;
=======
        .fixed-action-btn  {
            /* display: none; */
        }
        .login {
>>>>>>> 35e15995d6f9fc24069f611d53b8542ab0768854
            height: 50%;
            width: 90%;
            border-radius: 10px;
            margin:30% auto;
            padding: 15px;
        }
        .btn-cadastro {
            cursor: pointer;
        }
        .right {
            margin-right: 7px;
        }
        
        header .brand-logo img {
            height: 45px;
        }
        
        nav .brand-logo {
            padding: 28px;
        }
        
        p {
            font-weight: 400;
            color: midnightblue;
            margin: 0px;
            
        }
        strongi {
            padding: 2px;
        }
        
        i {
            
        }
        
        .demo-header {
            margin-bottom: 80px;
            text-align: center;
        }
        
        .demo-title {
            font-size: 4em;
            line-height: 1em;
            text-align: center;
        }
        
        .estilo-card {
            overflow: hidden;
            border: 1px solid #D5D5D5;
            border-radius: 4px;
            box-shadow: 0px 0px 11px -3px black;
            border: 0px solid #D5D5D5;
            margin: 3px auto;
            font-style: italic;
        }
        
        .network-card {
            display: block;
            overflow: hidden;
            border: 0px solid #D5D5D5;
            border-radius: 4px;
            font-weight: 100;
            margin: 3px auto;
            box-shadow: 0px 0px 11px -3px black;
        }
        
        .card-title {
            background: linear-gradient(45deg, #854f91 0%, #7c5a92 100%);
            color: #fff;
            font-size: .7em;
            line-height: 30px;
            padding: 0 5px;
            font-weight: bold;
            margin: 0;
            box-shadow: #942115;
            border-radius: 3px;
        }
        
        .network-title {
            background: #2a4a9c;
            color: #fff;
            font-size: .6em;
            line-height: 30px;
            padding: 0 5px;
            font-weight: bold;
            margin: 0;
            box-shadow: #942115;
        }
        
        .cpu-status {
            margin: 7px 0px 0px 0px;
        }
        
        .cpu-percentage {
            font-size: 0.7em;
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
            color: rgba(73, 73, 13, 0.473);
            margin-left: 5px;
        }
        
        .core-title {
            background: #2657b5;
            color: #fff;
            font-size: .6em;
            line-height: 30px;
            padding: 0 5px;
            font-weight: bold;
            margin: 0;
            box-shadow: #942115;
        }
        
        .tarefa-title {
            background: #1d6dc9;
            color: #fff;
            font-size: .6em;
            line-height: 30px;
            padding: 0 5px;
            font-weight: bold;
            margin: 0;
            box-shadow: #942115;
        }
        
        .battery-percentage {
            font-size: 1.5em;
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
            color: #ff0;
            margin-left: 5px;
        }
        
        .core-percentage {
            font-size: 1.3em;
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
            color: rgb(47, 50, 185);
            margin-left: 5px;
        }
        
        
        
        .network-box {
            text-align: center;
            border-bottom: 1px solid #D5D5D5;
        }
        
        .battery {
            display: inline-block;
            position: relative;
            border: 4px solid #000;
            width: 80px;
            height: 36px;
            border-radius: 4px;
            vertical-align: middle;
            margin: 5px 0px 0px 0px;
        }
        
        .battery:before {
            content: '';
            display: block;
            box-sizing: border-box;
            background: #000;
            height: 29px;
            position: absolute;
        }
        
        .battery:after {
            content: '';
            display: block;
            background: #000;
            width: 6px;
            height: 17px;
            position: absolute;
            top: 50%;
            right: -11px;
            margin-top: -8px;
            border-radius: 0 4px 4px 0;
        }
        
        table{
            font-size: 1.0em
        }
        
        
        .table-core th ,.table-core td{
            font-size: 1.0em;
            padding: 1px 6px;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            border-radius: 5px;
        }
        
        
        
        @media only screen and (max-width: 1111px) and (min-width: 993px) {
            .core-percentage{
                font-size: 12px
            }
            
        }
        
        @media only screen and (max-width: 993px) {
            .core-percentage{
                font-size: 16px
            }
            .core-percentage {
                
                line-height: 32px;
                
            }
            
            .cpu-percentage {
                
                line-height: 32px;
                
            }
            
            .cpu-status {
                margin: 3px 0px 0px 0px;
            }
            
            
            
        }
        
        @media only screen and (max-width: 600px) and (min-width: 990px) {
            .battery-status {
                margin: 14px 0px 0px 5px;
                
            }
            .core-percentage {
                line-height: 29px;
                display: inline-block;
                vertical-align: middle;
                color: rgb(47, 50, 185);
                margin-left: 5px;
                
            }
            
            .cpu-percentage {
                font-size: 0.7em;
                line-height: 12px;
                display: inline-block;
                vertical-align: middle;
                color: rgba(73, 73, 13, 0.473);
                margin-left: 5px;
            }
            
            .table-core th, .table-core td {
                font-size: 10px;
                padding: 1px 6px;          
            }
            .battery {
                display: inline-block;
                position: relative;
                border: 4px solid #000;
                width: 54px;
                height: 25px;
                border-radius: 4px;
                vertical-align: middle;
            }
            .battery:before {
                content: '';
                display: block;
                box-sizing: border-box;
                background: #000;
                height: 18px;
                position: absolute;
            }
            .battery:after {
                content: '';
                display: block;
                background: #000;
                width: 6px;
                height: 17px;
                position: absolute;
                top: 50%;
                right: -11px;
                margin-top: -8px;
                border-radius: 0 4px 4px 0;
            }
            
            .table.responsive-table thead tr {
                display: block;
                padding: 0 2px 0 0;
            }
            .table.responsive-table tr {
                padding: 0 1px;
            }  
        }
        
        
        
        @media only screen and (max-width: 600px) {
            .battery-status {
                margin: -9px 0px 0px 0px;
            }
            .battery {
                margin: -11px
            }
            .battery {
                display: inline-block;
                position: relative;
                border: 4px solid #000;
                width: 54px;
                height: 25px;
                border-radius: 4px;
                vertical-align: middle;
            }
            .battery:before {
                content: '';
                display: block;
                box-sizing: border-box;
                background: #000;
                height: 18px;
                position: absolute;
            }
            .battery:after {
                content: '';
                display: block;
                background: #000;
                width: 6px;
                height: 17px;
                position: absolute;
                top: 50%;
                right: -11px;
                margin-top: -8px;
                border-radius: 0 4px 4px 0;
            }
            
            .core-percentage {
                font-size: 1.2em;
                line-height: 30px;
                display: inline-block;
                vertical-align: middle;
                color: rgb(47, 50, 185);
                margin-left: 5px;
            }
            
            .cpu-percentage {
                font-size: 0.7em;
                line-height: 13px;
                display: inline-block;
                vertical-align: middle;
                color: rgba(73, 73, 13, 0.473);
                margin-left: 5px;
            }
            
            .table-core th, .table-core td {
                font-size: 9px;
                padding: 1px 0px;                       
            }
            
            .card-title {
                background: linear-gradient(45deg, #854f91 0%, #7c5a92 100%);
                color: #fff;
                font-size: .7em;
                line-height: 30px;
                padding: 0 5px;
                font-weight: bold;
                margin: 0;
                box-shadow: #942115;
                border-radius: 3px;
            }
            
            strong {
                font-size: 0.8em;
                display: none;
            }
            
            strongi {
                font-size: 0.9em;
            }
            
        }
       
            
        
        @media only screen and (min-width: 360px) {
            i {
                font-size: 1.6rem;
            }
        }
        
        
        @media only screen and (max-width: 888px) and (min-width: 601px) {
            .bateria {
                line-height: 50px;
            }
            .battery {
                display: inline-block;
                position: relative;
                border: 4px solid #000;
                width: 54px;
                height: 25px;
                border-radius: 4px;
                vertical-align: middle;
            }
            .battery:before {
                content: '';
                display: block;
                box-sizing: border-box;
                background: #000;
                height: 18px;
                position: absolute;
            }
            .battery:after {
                content: '';
                display: block;
                background: #000;
                width: 6px;
                height: 17px;
                position: absolute;
                top: 50%;
                right: -11px;
                margin-top: -8px;
                border-radius: 0 4px 4px 0;
            }
        }
        
        .battery-info {
            margin: 0 auto;
            padding: 18px 50px 0px 0px;
            overflow: hidden;
            text-shadow: -2px 1px 7px rgb(201, 233, 233);
            font-weight: bold;
            color: white;
        }
        
        .battery-status {
            margin: 12px 0px 0px 0px;
            font-weight: bold;
            
        }
        
        .network-info {
            margin: 0 auto;
            /* padding: 18px 50px 0px 0px; */
            overflow: hidden;
            text-shadow: -2px 1px 7px rgb(201, 233, 233);
            font-weight: bold;
            color: black;
        }
        
        .battery-info dd {
            margin-top: -22px;
            text-align: center;
        }
        
        footer {
            margin: 70px auto 0;
            text-align: center;
        }
        
        .heart {
            font-style: normal;
            font-weight: 500;
            color: #c0392b;
            text-decoration: none;
        }
        
        .ajuste {
            padding: 1px 3px 1px 5px;
        }
        
        .rect {
            border: 2px solid #a64ceb;
            left: -1000px;
            position: absolute;
            top: -1000px;
        }
        #img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -173px 0 0 -300px;
        }
        
        #list {
            display: inline;
        }
        
        
        .imgFbtn {
            width: 57px;
            height: 57px;
            /* margin: 0px; */
        }
        
        .imgFbtnM {
            width: 57px;
            height: 57px;
            /* margin: 0px; */
        }
        
        #fiboResult {
            font-size: xx-large;
            font-weight: 900;
        }
        
        #transcription, #transcription2 {
            font-size: large;
            font-weight: 600;
            font-style: italic;
            box-shadow: 0px 1px 9px #4b4bcc6b;
            border-radius: 4px 4px;
            background-color: #ffffffab;
        }
        h5 {
            font-weight: 700;
        }
        
        .collapsible-body{
            background: linear-gradient(45deg, #ffffffc7 0%, #fdfdfd61 100%);
        }
        .collapsible-header{
            background: linear-gradient(45deg, #083ab1 0%, #4fc3f7 100%);
            color: white;
        }
        
        .loaders{
            background: #092f31b0;
            border-radius: 32px 32px;
        }
        
        progress {
            width: 180px;
            margin-top: 95px;
            margin-left: -6px;
            transform: rotate(270deg);
            box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
            -webkit-appearance: none;
            appearance: none;
            
        }
        
        
        .vaccine-bar {
            height: 200px;
            
        }
        .progress-bar {
            background-color: whiteSmoke;
            border-radius: 3px;
            box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
            
            /* Dimensions should be similar to the parent progress element. */
            width: 100%; height:20px;
        }
        progress[value] {
            /* Get rid of the default appearance */
            appearance: none;
            
            /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
            border: none;
            
            /* Add dimensions */
            width: 180px; height: 32px;
            
            /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
            background-color: whiteSmoke;
            border-radius: 3px;
            box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
            
            /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
            color: royalblue;
            
            position: relative;
        }
        
        
        progress[value]::-webkit-progress-bar {
            background-color: whiteSmoke;
            border-radius: 3px;
            box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
        }
        
        progress[value]::-webkit-progress-value {
            position: relative;
            
            background-size: 35px 20px, 100% 100%, 100% 100%;
            border-radius:3px;
            
            /* Let's animate this */
            animation: animate-stripes 5s linear infinite;
        }
        
        @keyframes animate-stripes { 100% { background-position: -100px 0; } }
        
        /* Let's spice up things little bit by using pseudo elements. */
        
        progress[value]::-webkit-progress-value:after {
            /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
            content: '';
            position: absolute;
            
            width:5px; height:5px;
            top:7px; right:7px;
            
            background-color: white;
            border-radius: 100%;
        }
        
        /* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */
        
        progress[value]::-moz-progress-bar {
            /* Gradient background with Stripes */
            background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);
            
            background-size: 35px 20px, 100% 100%, 100% 100%;
            border-radius:3px;
            
            /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
        }
        .css3::-webkit-progress-value,
        .php::-webkit-progress-value 
        {
            /* Gradient background with Stripes */
            background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 3%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #f44);
        }
  
        #cartao tr {
            cursor: pointer;
        }
        .card-content {
            min-height: 250px;
        }

        .card-contentPosto {
            min-height: 200px;
        }
        table.centered tbody tr td {
            padding: 5px 5px;
        }
        table.centered tbody tr th {
            padding: 5px 5px;
        }
        @media screen and (min-width: 446px) {
            .card-content {
                min-height: 336px;
            }

            table.centered tbody tr td {
                padding: 8px 5px;
            }
            table.centered tbody tr th {
                padding: 8px 5px;
            }
        }
        .color-green {
            color:green;
        }